body {
  background-color: #1CADE4;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-flow: column;
  gap: 60px;
  height: 650px;
  padding: 60px 40px;
  width: 100%;
}