body {
  background-color: #1CADE4;
}

.main-section {
  display: flex;
  justify-content: center;
  padding: 100px;
}

.card {
  align-items: center;
  background-color: white;
  border-radius: 50px;
  display: flex;
  flex-flow: column;
  gap: 60px;
  height: 650px;
  padding: 60px 40px;
  width: 100%;
}

.button-style {
  background-color: #1cade4;
  border: none;
  border-radius: 50px;
  color: white;
  height: 70px;
  font-size: 1.4em;
  font-weight: 600;
}